<nav class="main-nav">

<div class="sidebar-toggle-parent" onmouseover="mouseOver()" onmouseout="mouseOut()">
  <div class="sidebar-toggle sidebar-toggle-0">
    <a href="/"><span class="icon icon-home dot"></span></a>
  </div>
  <div class="sidebar-toggle sidebar-toggle-1">
    <a href="/categories"><span class="icon icon-list dot"></span></a>
  </div>
  <div class="sidebar-toggle sidebar-toggle-2">
    <a href="/tags"><span class="icon icon-tags dot"></span></a>
  </div>
  <div class="sidebar-toggle sidebar-toggle-3">
    <a href="/index.xml"><span class="icon icon-rss dot"></span></a>
  </div>
  <div class="sidebar-toggle sidebar-toggle-4">
    <a href="/about"><span class="icon icon-user dot"></span></a>
  </div>
</div>

</nav>
