<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>暴走漫画</title>
<link href="{{static_url('css/bootstrap.css')}}" type="text" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{static_url('css/uploadify.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('css/style.css')}}">
<script type="text/javascript" src="{{static_url('js/jquery-2.1.4.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.uploadify.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/show.js')}}"></script> 
</head>
<body>
<div class="container">
<div class="margin"></div>
    <div class="row">
    <div class="col-md-3">
            <h2 id="word1" class="showWord" >我萌不？</h2>
            <h2 id="word2" class="showWord">好玩不？</h2>
            <h2 id="word3" class="showWord">快收藏！</h2>
    </div>

        
        <div class="col-md-6" >
        <div id="show" class="show">
                 <image class="imgShow" src="{{returned_img_url}}" />
        </div>
        </div>
            <div class="col-md-2" >
            <h2 id="word4" class="showWord">不满意?</h2>
            <h2 id="word5" class="showWord">没过瘾？</h2>
            <h4 id="word6" class="showWord"><a href="/">再来一张</a></h4>
        
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <div class="row">
    <div class="col-md-2 col-md-offset-5">
    
    </div>

    </div>
        
</div>
</body>
</html>
